@import "fonts/fonts.css";


body.facebook {
    --before-color: radial-gradient(50% 50% at 50% 50%, rgba(91, 167, 234, 0.504) 0%, rgba(91, 167, 234, 0) 100%);
    --text-color: rgba(91, 167, 234, 1);
    --button-background: linear-gradient(90deg, #5BA7EA 0%, #21415D 100%);
}

body.google {
    --before-color: radial-gradient(50% 50% at 50% 50%, rgba(24, 171, 34, 0.33) 0%, rgba(24, 171, 34, 0) 100%);
    --text-color: rgba(24, 171, 34, 1);
    --button-background: linear-gradient(90deg, #18AB22 0%, #0E5212 100%);

}

body.farmer {
    --before-color: radial-gradient(50% 50% at 50% 50%, rgba(253, 198, 1, 0.6) 0%, rgba(253, 198, 1, 0) 100%);
    --text-color: rgba(255, 202, 12, 1);
    --button-background: linear-gradient(97.73deg, #FFCA0C -7.58%, #826809 180.08%);
}


* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    /*width: 360px;*/
    position: relative;
    font-family: 'Ruberoid', sans-serif;
    line-height: 1.4;
    color: #131313;
    background: #ffffff;
    overflow-x: hidden;
    opacity: 1;
    margin: 0;
    /*width: 1920px;*/
    /*height: 1080px;*/
}

.lg-display-block {
    display: none;
}

.header-imatation {
    height: 113px;
}

.underline-none {
    text-decoration: none !important;
}

.wrap {
    max-width: 1580px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

    /*overflow: hidden;*/
}

.starts__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.d-none {
    display: none !important;
}


/*BILBOARD*/

.logo {
    max-width: 500px;
    max-height: 500px;
}

.billboard {
    font-family: 'Ruberoid', sans-serif;
    position: relative;
    min-height: 100vh;
    color: rgba(249, 250, 244, 1);
    overflow: hidden;
}

.billboard__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.billboard__content-wrap {
    position: relative;
    /*display: flex;*/
    /* flex-wrap: wrap; */
}


.billboard__content {
    position: relative;
    z-index: 1;
    max-width: 800px;
}

.billboard__badge-list {
    display: flex;
    justify-content: start;
    margin: 0 0 22px 0;
}

.billboard__badge {
    margin: 0 8px 0 0;
    padding: 7px 11px 6px 11px;
    line-height: 1;
    font-size: 10px;
    font-weight: 400;
    white-space: nowrap;
    color: rgba(255, 255, 255, 1);
    border: 1px solid var(--text-color);
    border-radius: 34px;
}

.billboard__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.08;
    margin-top: 10px;
}

.billboard__description {
    margin: 28px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;

}

.billboard__description .custom-word {
    line-height: 19.8px;
    text-align: left;
    color: var(--text-color);
}

.billboard__button .button--google {
    max-width: fit-content;
    margin-top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: var(--button-background);
    border-radius: 35px;
    text-decoration: none;
    white-space: nowrap;

}

.billboard__button svg {
    margin: 0 0 0 6px;
    padding: 3px 0 0 0;
}


/*!!! Features !!!*/


.features__item-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.features__item-background img {
    width: 100%;
    height: 100%;
}

.features__title {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.09em;
    text-align: center;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.features__item {
    max-width: 380px;
    min-height: 320px;
    margin: 0 auto 0 auto;
    position: relative;
    padding: 70px 30px 20px 26px;
    color: #fff;
    overflow: hidden;
}

.features__icon {
    position: absolute;
    top: -10px;
    right: 6px;
}

.features__icon svg {
    width: 80px;
    height: auto;
}

.features__content {
    text-align: left;
}

.features__item-title {
    margin: 18px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    padding-right: 12px;
}

.features__description {
    font-size: 12px;
    font-weight: 200;
    line-height: 14.64px;
    text-align: left;
    color: rgba(249, 250, 244, 1);
}


/*!!!   ABOUT profession    !!!*/

.profession {
    padding: 12px 20px
}

.profession__container {
    /*max-width: 900px;*/
    margin: 0 auto;
}

.profession__block-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.profession__block-bg svg {
    width: 100%;
}

.profession__title {
    margin: 27px 0 29px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.07;
    letter-spacing: -0.095em;
    text-align: center;
}

.profession__blocks {
    display: flex;
    flex-direction: column;
}

.profession__block {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 30px 30px 26px 30px;
    text-align: left;
    color: #ffffff;
    /*background: linear-gradient(0deg, #D9D9D9, #D9D9D9),*/
    /*linear-gradient(204.26deg, #131212 55.38%, #18AB22 198.39%);*/
    border-radius: 20px;
}


.profession__block--main::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 100%;
    height: 400px;
    background: var(--before-color);
    filter: blur(50px);
    z-index: 0;
    /*border-radius: 50%;*/
}


.profession__block--note::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    width: 100%;
    height: 400px;
    background: var(--before-color);
    filter: blur(50px);
    z-index: 0;
    /*border-radius: 50%;*/
}


.profession__highlight {
    font-weight: 600;
    color: var(--text-color);
}

.profession__block--main {
    position: relative;
    background: #131212;
}


.profession__block-illustration {
    position: relative;
    overflow: hidden;
    min-width: 400px;
    min-height: 500px;
    max-height: 590px;
    border-radius: 42px;
}

.profession__block-illustration img {
    width: 100%;
    height: 100%;
}

.profession__block-illustration-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 96px;
    font-weight: 800;
    line-height: 1.2;
    opacity: 0.1;
    color: #FFFFFF;
}

.profession__block-illustration-farmer {
    position: absolute;
    z-index: 8;
    top: 100px;
    left: 16px;
    font-size: 110px;
}

.profession__block-illustration-company {
    position: absolute;
    z-index: 8;
    top: 6px;
    left: 10px;
}

.profession__block-illustration-media {
    position: absolute;
    z-index: 4;
    top: 98px;
    right: 6px;
}

.profession__block-illustration-buyer {
    position: absolute;
    z-index: 4;
    bottom: -13px;
    left: 15px;
}

.profession__block--note {
    overflow: hidden;
    margin-top: 12px;
    position: relative;
    padding: 30px 40px 35px 30px;
    font-size: 14px;
    line-height: 17.12px;
}

.profession__block--note-highlight {
    font-weight: 400;
    color: var(--text-color);
    text-decoration: underline;
}

.profession__text {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.12px;
    text-align: left;

}

.profession__note {
    position: relative;
    font-size: 14px;
    line-height: 1.23;
}

.profession__list-tittle {
    position: relative;
    font-size: 14px;
    margin: 14px 0 10px 0;
}

.profession__item {
    font-size: 14px;
    position: relative;
    padding-left: 22px;
}

.profession__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%; /* Для создания круглой формы */
    margin-left: 10px; /* Отступ слева от края контейнера */
    margin-right: 10px; /* Отступ справа, чтобы отодвинуть текст */
}


/*COURSE*/

.course-price-wrap {
    background: #000000;
}

.course-program {
    position: relative;
    color: #fff;
    margin-top: 60px;
}

.course-program__title {
    position: relative;
    z-index: 4;
    padding: 30px 30px 26px 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.09em;
    text-align: center;
}

.course-program__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-program__item {
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.course-program__item--expanded {
    background-color: #2c2c2c;
}

.course-program__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-program__icon svg {
    width: 30px;
    height: auto;
}

.course-program__name {
    font-size: 18px;
    font-weight: bold;
    flex: 1;
    margin-left: 10px;
}

.course-program__toggle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.course-program__content {
    margin-top: 10px;
    display: none;
}

.course-program__item--expanded .course-program__content {
    display: block;
}

.course-program__details {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.course-program__detail-item {
    padding-left: 20px;
    position: relative;
}

.course-program__detail-item::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #24c954;
    font-size: 18px;
}

.course-program__item--practice .course-program__name--practice {
    color: #24c954;
    text-transform: uppercase;
}


/*!!! ACCORDION MENU !!!*/

.panel {
    position: relative;
    z-index: 4;
    margin: 0 0 12px 0;
    padding: 27px 26px 26px 25px;
    background: linear-gradient(157.72deg, #454545 -19.79%, #1B1B1B 58.45%);
    border-radius: 13px;
}

.panel-body ul {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1;
    text-align: left;
    padding: 0 18px;
    margin: 16px 17px 0 17px;
}

.panel-title {
    position: relative;
    margin: 0;
}

.panel-group {
    position: relative;
    z-index: 1;
}

.panel-group::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: var(--before-color);
    filter: blur(100px);
    z-index: -1;
    border-radius: 50%;
}

.panel-title .open-icon {
    margin: 0 0 0 auto !important;
    min-width: 30px;
    min-height: 30px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Плавный переход */
}

.panel-title a[aria-expanded="true"] .open-icon {
    transform: rotate(180deg);
    fill: var(--text-color);
    color: transparent;
}

.panel-title .panel-title-open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Ruberoid, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
}

.panel-title-text {
    padding: 0 30px 0 0;
}

.panel-title svg {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}

.panel-default ul {
    padding-bottom: 32px;
    font-weight: 400;
}

.panel-big {
    margin: 30px 0 0 0;
}

.panel-title-content-big {
    display: flex;
    justify-content: start;
}

.panel-title-content-big svg {
    width: 36px;
    height: 36px;
}

.panel-title-content-big-title-second {
    margin: 7px 0 0 7px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;

}

.panel-title-big {
    margin: 18px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}


.panel-body-big ul {
    margin: 14px 0 0 8px;
    font-size: 12px;
}


/*PRICE*/

.pricing {
    z-index: 0;
    position: relative;
    font-family: Ruberoid, sans-serif;
    text-align: center;
    padding: 0 20px 58px 20px;
    /*background: #000000;*/
    color: white;
    overflow: hidden;
}

.pricing__plans-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing__title {
    padding: 31px 0 24px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: -0.085em;
    text-align: center;
}

.pricing__plan {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.plan {
    height: max-content;
    position: relative;
    background: rgba(133, 133, 133, 0.1);
    padding: 0 32px;
    width: 320px;
    border-radius: 13px;
}

.plan-pro {
    box-shadow: 0 4px 50px 0 var(--text-color);
    border-radius: 13px;
    background: none !important;
}

.plan__title {
    margin: 60px 0 36px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.085em;
    text-align: left;
    text-transform: uppercase;
    background: linear-gradient(29.21deg, #FFFFFF -6.29%, #2D2D2D 74.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__feature {
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.19;
    margin: 12px 0;
    text-align: start;
}

.plan__feature-icon {
    margin: auto 0;
}

.plan__feature .plan__feature-icon svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.plan__feature--highlighted {
    font-weight: 500;
    color: var(--text-color);
}

.plan__price {
    margin: 28px 0 11px 0;
    font-family: Ruberoid, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.085em;
    text-align: left;

}

.plan__cta {
    margin-bottom: 20px;
    padding: 6px 0 4px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Ruberoid, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.8px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 22px;
    cursor: pointer;
}

.plan__cta-text {
    margin: 0 7px;
}

.only-standart-plan-wrap .plan {
    width: 100%;
    max-width: 500px;
}

.plan__cta-pro {
    color: #ffffff;
    background: var(--button-background);
    margin-bottom: 20px;
}

.plan__cta svg {
    padding-left: 5px;
    width: 30px;
    height: 30px;
}

/*STEP LIST*/

.step-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 60px 20px;
    background: #000;
    border-radius: 30px;
    color: white;
    overflow: hidden;
    /*z-index: 2;*/
}

.step-list::before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: -30%;
    width: 150%;
    height: 600px;
    background: var(--before-color);
    filter: blur(50px);
    z-index: 0;
    border-radius: 50%;
}

.step-list__item {
    z-index: 2;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}


.step-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: var(--button-background);
    border-radius: 50%;


}

.step-list__content {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.22;
    text-align: left;

}

.step-list-wrap {
    margin: 106px 0 0 0;
    padding: 0 20px;
}

.step-list-title {
    margin: 100px 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -0.085em;
    text-align: center;
}


/*REGISTER*/

.registration-wrap {
    margin-top: 80px;
    overflow: hidden;
    background: #000;
}

.registration {
    max-width: 700px;
    position: relative;
    padding: 26px;
    color: white;
    margin: 100px auto 0 auto;
    text-align: start;
}

.registration::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background: var(--before-color);
    filter: blur(50px);
    z-index: 0;
    border-radius: 50%;
}

.registration__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.12px;
    letter-spacing: -0.085em;
    text-align: left;

}

.registration__description {
    padding-right: 76px;
    margin-top: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.065em;
    text-align: left;

}

.registration-header {
    position: relative;
    z-index: 2;
}

.registration__form {
    position: relative;
    z-index: 2;
    margin-top: 36px;
}

.registration__form-group {
    margin-bottom: 8px;
}

.registration__input {
    font-family: 'Ruberoid', sans-serif;
    width: 100%;
    padding: 9px 0 8px 13px;
    border-radius: 32px;
    border: 0.3px solid #ffffff;
    background: transparent;
    color: white;
    font-size: 8px;
    outline: none;
}

.registration__input::placeholder {
    color: #ccc;
}

.registration__button {
    font-family: 'Ruberoid', sans-serif;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 10px 8px 6px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.16;
    text-align: center;
    background-color: white;
    color: rgba(27, 63, 94, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.registration__contact {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: -0.085em;
    text-align: left;

}

.registration__contact svg {
    min-width: 30px;
    min-height: 30px;
}

.registration__contact a {
    color: var(--text-color);
    text-decoration: none;
}


/*   !!!  MOBILE VERSION   !!!   */

@media (min-width: 1000.98px) {

    .d-md-block {
        display: block !important;
    }

    .d-md-flex {
        display: flex !important;
    }

    .d-md-none {
        display: none !important;
    }

    .collapse {
        display: block !important;
    }

    .header-imatation {
        height: 200px;
    }

    .course-program::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-70%, -40%);
        width: 800px;
        height: 800px;
        background: var(--before-color);
        filter: blur(100px);
        z-index: 0;
        border-radius: 50%;
    }


    .billboard__content-wrap {
        display: flex;
        /*padding: 0 45px;*/
    }

    .billboard__title {
        font-size: 66px;
        line-height: 70px;
    }

    .billboard__badge {
        margin-bottom: 48px;
        padding: 8px 18px 6px 18px;
        font-size: 14px;
        line-height: 17.18px;
    }

    .billboard__description {
        margin: 0;
        font-size: 26px;
        line-height: 30.85px;
    }

    .billboard__button .button--google {
        margin-top: 30px;
        padding: 4px 20px 0 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.23px;
    }

    .billboard__button .button--google svg {
        padding-top: 6px;
        width: 40px;
        height: 40px;
    }


    .features__list {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 24px;
    }

    .features__item {
        max-width: 340px;
        min-height: 300px;
    }

    .features__title {
        margin: 60px 0;
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -0.085em;
    }

    .profession__block {
        margin: 0 !important;
    }

    .profession__title {
        margin: 60px 0;
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -0.085em;
    }

    .profession__blocks {
        max-width: 1014px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        /*padding: 20px;*/
    }

    .profession__block-wrap {
        /*height: 692px;*/
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .profession__block-illustration {
        height: 390px;
    }

    .profession__block-illustration-media {
        top: 50px;
    }

    .profession__block-illustration-text {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 60px;
    }


    /*program*/
    .course-program__title {
        margin: 60px 0;
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -0.085em;
    }

    .panel-group {
        display: flex;
        flex-wrap: wrap; /* Позволяет блокам переноситься на следующий ряд */
        gap: 20px;
        justify-content: center;
    }

    .profession__block-illustration-farmer {
        font-size: 80px;
    }

    .panel {
        width: 100%;
        height: auto;
        max-width: 400px;
        border-radius: 12px;
        padding: 40px 36px;
    }

    .panel-title {
        display: flex;
        align-items: center;
        font-size: 22.39px;
        font-weight: 400;
        line-height: 23.92px;
        text-align: left;
    }

    .panel-body-title {
        margin: 20px 0 0 0;
    }

    .panel-title svg {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .panel__body-title {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.06;
        margin-top: 10px;
    }

    .panel-title-text {
        font-size: 27.39px;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;
    }

    .panel ul {
        padding: 0 26px;
        font-size: 14px;
        line-height: 17.6px;
        text-align: left;
    }

    .panel-big {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 300px;
        max-width: none;
        width: 100% !important;
        padding: 30px 32px !important;
        margin-top: 30px;
    }

    .panel-title-content-big {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .panel-title-content-big svg {
        width: 128px;
        height: 128px;
    }

    .panel-title-big {
        margin: 30px -4px 10px 0;
        font-size: 18px;
        line-height: 20.8px;
        text-align: left;

    }

    .panel-title-content-big-title-second {
        font-size: 36px;
        line-height: 52.09px;
    }

    .panel-big .panel-heading {
        display: flex;
    }

    .panel-big .panel-body {
        max-width: 48%;
    }

    .panel-big .panel-body ul {
        margin: 40px 0 0 0 !important;
        font-size: 18px;
        line-height: 28.8px;
    }

    .panel-group::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 1000px;
        filter: blur(300px);
        z-index: -1;
        border-radius: 50%;
    }

    /*pricing*/
    .pricing .pricing__title {
        padding: 60px 0;
        font-size: 50px;
        line-height: 56px;
        letter-spacing: -0.085em;
    }

    .pricing::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, 0);
        width: 1400px;
        height: 1400px;
        background: var(--before-color);
        filter: blur(100px);
        z-index: -1;
        border-radius: 50%;
    }

    .plan {
        width: 400px;
        border-radius: 16px;
    }

    .pricing__plans-wrap {
        gap: 40px;
    }

    .plan__title {
        font-size: 42px;
        line-height: 46.8px;
        letter-spacing: -0.085em;
    }

    .plan__feature {
        font-size: 16px;
        line-height: 19.6px;
    }

    .plan__feature .plan__feature-icon svg {
        width: 26px;
        height: 26px;
        margin-right: 16px;
    }

    .plan__price {
        margin: 45px 0 34px 0;
        font-size: 38px;
        line-height: 42.8px;
        letter-spacing: -0.085em;
    }

    .plan__cta {
        padding: 6px 0 2px 0;
        font-size: 18px;
        line-height: 32.23px;
        border-radius: 36px;
    }

    .plan__cta svg {
        width: 43px;
        height: 43px;
    }

    .only-standart-plan-wrap {
        width: 100%;
        max-width: 1127px;
        margin: 0 auto;
    }

    .only-standart-plan-wrap .plan {
        width: 100%;
        max-width: none;
    }

    .only-standart-plan-wrap .plan::before {
        content: '';
        position: absolute;
        top: -36%;
        left: -14%;
        width: 500px;
        height: 500px;
        background: var(--before-color);
        filter: blur(100px);
        z-index: 0;
        border-radius: 50%;
    }

    .only-standart-plan-wrap .plan__features {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px 50px;
    }

    .only-standart-plan-wrap .plan__title {
        position: relative;
        z-index: 2;
        margin: 0 0 45px 0;
    }

    .only-standart-plan-wrap .plan__feature {
        /*width: 330px;*/
        width: 30%;
        margin: 0;
    }

    .only-standart-plan-wrap .plan__price {
        position: relative;
        z-index: 2;
        text-align: end;
        margin: 31px 133px 30px 30px;
    }

    .only-standart-plan-wrap .plan__cta {
        width: 400px;
        display: flex;
        margin: 0 0 0 auto;
        padding: 12px 26px 7px 22px;
    }

    .only-standart-plan-wrap .plan-pro {
        overflow: hidden;
        padding: 63px 47px 39px 47px;
    }


    .step-list__item {
        padding: 12px 20px 20px 10px;
        min-height: 100px;
        min-width: 300px;
        margin-top: 20px;
        max-width: 380px;
    }

    .step-list {
        padding: 60px 20px 0 20px;
    }

    .step-list::before {
        bottom: -70%;
    }

    .registration-header {
        width: 40%;
    }

    .registration {
        max-width: none;
        font-family: 'Ruberoid', sans-serif;
        display: flex;
    }

    .registration__title {
        margin-top: 80px;
        font-size: 40px;
        line-height: 61.36px;
        letter-spacing: -0.085em;
    }

    .registration__description {
        margin-top: 30px;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -0.085em;
    }

    .registration__form {
        width: 50%;
        margin: auto 0 auto auto;
    }

    .registration__form-group {
        margin-bottom: 10px;
    }

    .registration__input {
        padding: 20px;
        width: 100%;
        border-radius: 30px;
        font-size: 14px;
        line-height: 17.54px;
    }

    .registration__button {
        margin-top: 40px;
        font-family: 'Ruberoid', sans-serif;
        width: 100%;
        padding: 12px;
        text-align: center;
        background-color: white;
        color: rgba(27, 63, 94, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 22px;
        font-weight: 400;
        line-height: 32.29px;

    }

    .registration__contact {
        display: flex;
        margin-top: 40px;
        font-size: 18px;
        line-height: 28.6px;
        letter-spacing: -0.085em;
    }

    .registration__contact svg {
        min-width: 34px;
        min-height: 34px;
    }

    .registration::before {
        top: -82%;
        right: -40%;
        width: 1800px;
        height: 1800px;
        filter: blur(400px);
    }


}


@media (min-width: 1560.98px) {
    .d-lg-block {
        display: block !important;
    }

    .d-lg-flex {
        display: flex !important;
    }

    .d-lg-none {
        display: none !important;
    }


    .billboard__title {
        font-size: 97px;
        font-weight: 400;
        line-height: 100px;
        text-align: left;
    }

    .billboard__badge {
        margin: 0 14px 36px 0;
        padding: 14px 20px 11px 14px;
        font-size: 17.26px;
        line-height: 1;
    }

    .billboard__description {
        margin: 20px 0;
        font-size: 38px;
        font-weight: 400;
        line-height: 1;
    }

    .billboard__button .button--google {
        margin-top: 39px;
        padding: 8px 19px 4px 26px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.23px;
    }

    .features__title {
        margin: 86px 0 106px 0;
        font-size: 60px;
        font-weight: 600;
        line-height: 66px;
        letter-spacing: -0.085em;
    }

    .features__item {
        font-family: 'Ruberoid', sans-serif;
        padding: 52px 30px 20px 20px;
        max-width: 460px;
        min-height: 420px;
        max-height: 420px;

    }

    .features__item-big {
        padding: 70px 30px 20px 26px;
        width: 650px !important;
        max-width: 650px;

        height: 530px !important;
        max-height: 530px;
    }

    .features__icon {
        top: -10px;
        right: 22px;
    }

    .features__icon svg {
        width: 120px;
    }

    .features__item-big .features__icon {
        top: -20px;
        right: 20px;
    }

    .features__item-big .features__icon svg {
        width: 160px;
    }

    .features__content {
        padding: 0 20px;
    }

    .features__item-title {
        margin: 100px 0 30px 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 27.12px;
    }

    .features__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }

    .features__item-big .features__item-title {
        margin: 100px 0 30px 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.54px;
    }

    .features__item-big .features__content {
        padding: 30px 26px;
    }

    .features__item-big .features__description {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    /*profession*/
    .profession__title {
        margin: 208px 0 92px 0;
        font-size: 60px;
        font-weight: 600;
        line-height: 66px;
        letter-spacing: -0.085em;
    }

    .profession__blocks {
        max-width: none;
    }

    .profession__block-wrap {
        height: 692px;
    }

    .profession__block {
        padding: 49px 80px 35px 60px;
        max-width: 946px;
    }

    .profession__list-tittle {
        margin: 30px 0 20px 0;
    }

    .profession__block-illustration-text {
        font-size: 96px;
    }

    .profession__block-illustration-media {
        top: 98px;
    }


    .profession__block-illustration {
        width: 569px;
        height: 692px;
        max-height: none;
    }

    .profession__list-items {
        margin-bottom: 20px;
    }

    .profession__item {
        position: relative;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        padding: 7px 0 0 34px;
    }

    .profession__item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 18px;
        width: 6px;
        height: 6px;
        background-color: white;
        border-radius: 50%;
        margin-left: 14px;
        margin-right: 10px;
    }

    .profession__text, .profession__list-tittle, .profession__note {
        font-size: 24px;
        font-weight: 400;
        line-height: 29.35px;
    }

    .profession__block--note {
        padding: 77px 113px 77px 60px;
        height: 100%;
        display: flex;
        align-items: center;
    }


    /*program*/
    .course-program__title {
        margin-top: 300px;
        padding: 100px 0 34px 0;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: -0.085em;
    }

    .panel-group {
        justify-content: space-between;
    }

    .panel {
        margin: 0 0 22px 0;
        justify-content: normal;
        padding: 40px 39px 40px 40px;
        font-family: 'Ruberoid', sans-serif;
        width: 499px;
        height: 420px;
        max-width: none;
        border-radius: 20px;
    }

    .panel-title {
        display: flex;
        align-items: center;
        font-size: 27.39px;
        font-weight: 400;
        line-height: 28.92px;
        text-align: left;
    }

    .panel-body-title {
        margin: 34px 0 0 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;
    }

    .panel-title svg {
        width: 60px;
        height: 60px;
        margin-right: 32px;

    }

    .panel-body-big {
        display: flex;
        margin: 0 0 0 auto;
    }

    .panel-title-content-big-title-second {
        font-size: 48px;
        font-weight: 400;
        line-height: 65.09px;
        text-align: left;
    }

    .panel__body-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        margin: 28px 0;
    }

    .panel ul {
        padding: 4px 26px 0 8px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
    }

    .panel-big {
        margin: 80px 0 0 0;
        padding: 0 70px !important;
        height: 260px;
    }

    .panel-big svg {
        width: 180px;
        height: 180px;
    }

    .panel-title-big {
        margin: 20px 0 0 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
    }

    .panel-big .panel-body {
        max-width: 48%;
        padding-right: 60px;
    }

    .panel-big .panel-body ul {
        margin: 19px 0 19px 0 !important;
        padding: 10px 0 0 30px !important;
        font-size: 24px;
        line-height: 28.8px;
    }


    /*pricing*/
    .pricing .pricing__title {
        margin: 69px 0 90px 0;
        padding: 0;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: -0.085em;
    }

    .plan {
        padding: 41px 50px;
        font-family: 'Ruberoid', sans-serif;
        width: 500px;
        border-radius: 20px;
    }

    .pricing__plans-wrap {
        gap: 64px;
    }

    .plan__title {
        margin: 50px 0;
        font-size: 48px;
        line-height: 52.8px;
        letter-spacing: -0.085em;
    }

    .plan__feature {
        font-size: 18px;
        line-height: 21.6px;
    }

    .plan__feature .plan__feature-icon svg {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    .plan__price {
        margin: 55px 0 34px 0;
        font-size: 48px;
        line-height: 52.8px;
        letter-spacing: -0.085em;
    }

    .plan__cta {
        width: 100%;
        padding: 9px 26px 7px 22px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.23px;
        border-radius: 36px;
    }

    .plan__cta svg {
        width: 43px;
        height: 43px;
    }

    .step-list {
        gap: 0 90px;
        max-width: 1540px;
        padding: 126px 11px 52px 118px;
        justify-content: normal;
    }

    .step-list::before {
        bottom: -50%;
        left: -50%;
        filter: blur(200px);
    }


    .step-list__item {
        margin: 0 9px 48px 0;
        padding: 0;
        min-height: 230px;
        max-width: 380px;

    }

    .step-list-title {
        margin: 122px 0 92px 0;
    }

    .step-list__icon {
        font-size: 24px;
        padding-top: 4px;
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
    }

    .step-list__content {
        margin-top: 34px;
        font-size: 24px;
        line-height: 1.3;
    }

    .registration-header {
        width: 40%;
    }

    .registration {
        padding: 0 0 80px 0;
        max-width: 1540px;
        font-family: 'Ruberoid', sans-serif;
        display: flex;
    }

    .registration__title {
        margin-top: 100px;
        font-size: 60px;
        line-height: 81.36px;
        letter-spacing: -0.085em;
    }

    .registration__description {
        margin-top: 30px;
        padding-right: 70px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.085em;
    }

    .registration__form {
        width: 50%;
        margin: auto 0 auto auto;
    }

    .registration__form-group {
        margin-bottom: 20px;
    }

    .registration__input {
        padding: 26px 30px 24px 32px;
        width: 98%;
        border-radius: 40px;
        border: 1px solid #ffffff;
        color: white;
        font-size: 16px;
        line-height: 17.54px;
        text-align: left;
        outline: none;
    }

    .registration__button {
        margin-top: 30px;
        font-family: 'Ruberoid', sans-serif;
        width: 98%;
        padding: 16px 0 12px 0;
        text-align: center;
        background-color: white;
        color: rgba(27, 63, 94, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 30px;
        font-weight: 400;
        line-height: 40.29px;

    }

    .registration__contact {
        display: flex;
        margin-top: 40px;
        font-size: 24px;
        line-height: 33.6px;
        letter-spacing: -0.085em;
    }

    .registration__contact svg {
        min-width: 60px;
        min-height: 60px;
    }

}







